@{
    ViewData["Title"] = "Display Account Info";
}



@model List<DisplayAccountInfo.Models.UserAccount>
@*TODO: I am following the template, but I would probably re-structure from the ground up this CSS. The pre-loaded html/css/bootstrap interaction included seem to be clashing with overlaying elements. The bootstrap import helps keep the page responsive*@
<section class="grid">
    <header class="grid">
        <div class="title-container">
            <h1>Coding Test</h1>
        </div>
    </header>
    <main class="content grid" id="home-content">
        <div class="content-title-container">
            <h2>Accounts</h2>
        </div>
        <section class="grid" id="account-grid">
            @*Using razor pages, I felt putting logic here to display the different accounts fit*@
            <section class="account-column grid" id="active-account-column">
                <div class="account-container-title" id="active-account-container-title">
                    <h3>Active</h3>
                </div>
                @{
                    foreach (var account in Model)
                    {
                        if (@account.AccountStatusId == 0)
                        {
                            <div class="account-container active-account">
                                <ul class="account-data-list">
                                    <li><label>Name:</label>@account.LastName, @account.FirstName</li>
                                    <li><label>Email:</label>@account.Email</li>
                                    <li><label>Phone Number:</label>@account.PhoneNumber</li>
                                    <li><label>Amount Due:</label>$@account.AmountDue</li>
                                    <li><label>Due Date:</label>@account.FormattedPaymentDueDate</li>
                                </ul>
                            </div>
                        }
                    }
                }
            </section>
            <section class="account-column grid" id="overdue-account-column">
                <div class="account-container-title" id="overdue-account-container-title">
                    <h3>Overdue</h3>
                </div>
                @{
                    foreach (var account in Model)
                    {
                        if (@account.AccountStatusId == 2)
                        {
                            <div class="account-container overdue-account">
                                <ul class="account-data-list">
                                    <li><label>Name:</label>@account.LastName, @account.FirstName</li>
                                    <li><label>Email:</label>@account.Email</li>
                                    <li><label>Phone Number:</label>@account.PhoneNumber</li>
                                    <li><label>Amount Due:</label>$@account.AmountDue</li>
                                    <li><label>Due Date:</label>@account.FormattedPaymentDueDate</li>
                                </ul>
                            </div>
                        }
                    }

                }
            </section>
            <div class="account-column grid" id="inactive-account-column">
                <div class="account-container-title" id="inactive-account-container-title">
                    <h3>Inactive</h3>
                </div>
                @{
                    foreach (var account in Model)
                    {
                        if (@account.AccountStatusId == 1)
                        {
                            <div class="account-container inactive-account">
                                <ul class="account-data-list">
                                    <li><label>Name:</label>@account.LastName, @account.FirstName</li>
                                    <li><label>Email:</label>@account.Email</li>
                                    <li><label>Phone Number:</label>@account.PhoneNumber</li>
                                    <li><label>Amount Due:</label>$@account.AmountDue</li>
                                </ul>
                            </div>
                        }
                    }

                }
            </div>
        </section>
    </main>
    <footer class="grid">
        <p class="copy">&copy;
            <script>document.write(new Date().getFullYear())</script></p>
    </footer>
</section>
